/* 4 - External css */

p {
    color: green;
    font-size: 40px;
}

.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
    font-size: 20px;
}

/* body {
    background-color: aqua;
} */

/* 9 - Id - */

#exclusive-title {
    background-color: purple;
    color: beige;
    padding: 10px;
    font-size: 40px;
}

/* 10 multiplas regras */

h2 {
    border-bottom: 2px dotted red;

}

.algum-titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

.para {
    color: blueviolet;
}

/* 12 hex */
.hex {
    color: #55a398;
}

.hex-2 {
    color: #00eaff;
}

/* 13 simple hex */
.simple-hex {
    /* color: #333333; */
    color: #333;
}

.simple-hex-2 {
    /* color: #aa55ff; */
    color: #a5f;
}

/* RGB */

.rgb {
    color: rgb(255, 0, 0);
}

/* RGBA */
.rgba {
    color: rgba(100, 199, 45, 0.3);
}

/* HSL */
.hsl {
    color: hsl(100, 82%, 48%);
}

.hsl-2 {
    color: hsl(201, 82%, 48%);
}

/* 17 background color */

.bg {
    background-color: #000;
    color: yellow;
}

.bg-2 {
    background-color: rgb(200, 20, 40);
    color: #00eaff;
}

/* 18 opacidade bg */

.bgopacity {
    background-color: green;
    opacity: 0.8;
}

.bgopacity-2 {
    background-color: #999;
    color: #000;
    opacity: 0.8;

}

/* 19 RGB com opacidade */

.rgba-opacity {
    background-color: rgba(90, 12, 20, 0.2);
    color: #000;
}

/* 20 bg img */

.bg-img {
    padding: 10px;
    background-image: url(../img/nature.jpg);
    color: #fff;
}

/* body{
    background-image: url(../img/city.jpg);
} */

/* 21 centralizar img no bg */

.centered-bg,
.not-centered-bg {
    background-image: url(../img/bridge.jpg);
    height: 400px;
    width: 400px;
}
.centered-bg {
    background-position: center;
    background-size: cover;
}

/* 22 Largura e altura */

.without-padding,
.padding {
    background-color: #111;
    color: #fff;
}

.padding{
    background-color: #333;
    padding: 20px;
}

/* 23 Largura e altura */

.height1{
    height: 200px;
    width: 100px;
    background-color: rebeccapurple;

}

.height2{
    height: 300px;
    background-color: #333;

}

/* 24 padding individual */

.padding-individual{
    background-color: #222;
    color: #fff;
    /* padding-top: 5px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 20px; */

    padding: 5px 20px 40px 10px;
}

/* 25 - shorthand padding */

.shortpad{
    background-color: #444;
    color: #fff;
    padding: 6px 12px 18px 24px;
}

.shortpad-2{
    background-color: #555;
    color: #fff;
    /* padding: 6px 12px 18px 24px; */
    padding: 10px 20px;
}

/* 26 - border */

.w-border-box{
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
}

.border-box{
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box
}

/* 27 bordas */

.border {
    border: 5px solid red;
    padding: 10px;
}

.border2 {
    border: 2px dotted red;
    padding: 25px;
    background-color: #999;
}

/* 28 bordas individuais */

.border-esquerda{
    border-left: 3px solid red;
}

.border-baixo{
    border-bottom: 5px double red;
}

/* 29 arredondadas */

.arredondadas{
    border: 4px solid blue;
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 15px;
}

.arredondadas-2{
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 25px;
}

/* 30 Margens */

.margin{
    margin: 10px;
    background-color: #222;
}

.margin-2{
    margin-top: 10px;
    background-color: #222;
}

.margin-3{
    margin: 5px 10px 15px 20px;
    background-color: #666;
}

/* 31 box model */

.box-model {
    margin: 20px;
    background-color: aquamarine;
    /* padding: 15px 25px 15px 25px; */
    padding: 15px 25px;
    border: 2px solid red;
    border-radius: 7px;
    width: 200px;
    height: 400px;
}

/* 32 Desafio */

#box-model-desafio{
    margin: 20px;
    background-color: rgb(107, 16, 182);
    /* padding: 15px 25px 15px 25px; */
    padding: 15px 25px;
    border: 2px solid red;
    outline: 5px solid #952;
}

.desafio-title {
    background-color: rgb(107, 16, 182);
    color: #fff;
    border: none;
}

/* 33 alinhamento */

.text-aligned{
    text-align: right;
}

.container-center{
    text-align: center;
    background-color: antiquewhite;
    width: 300px;
    border: 2px solid red;
    margin-left: 130px;
}

/* 34 tipos de alinhamentos */

.underline {
    text-decoration: underline;
}

.line-trough{
    text-decoration: line-through;
}

.remover-underline {
    text-decoration: none;
    color: red;
}

/* 35 Desafio site do SENAC */

.link-senac {
    text-decoration: none;
    color:hsl(100, 82%, 48%)
}

/* 35 */

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

/* 36 */

.spacing {
    letter-spacing: 5px;
}

/* 37 */

.serif {
    font-family: serif;
}

.fantasy {
    font-family: fantasy;
}

.cursive {
    font-family: cursive;
}

/* 38 */

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

/* 39 */

.thin,
.bold,
.bolder{
    font-family: Helvetica;
}

.thin {
    font-weight: 100;
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 900;
}